import os
_basedir = os.path.abspath(os.path.dirname(__file__))

#use 'dev', 'test', or 'production'
DATABASE_TYPE = 'test'

DEBUG = False

SECRET_KEY = "ay98r0u2q9305jr2or@QTG%#QH^KWTRTGrqy43"

if DATABASE_TYPE == 'test' or DATABASE_TYPE == 'dev':
    SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(_basedir,
                                                          'db/orvsd_%s.db' %
                                                          DATABASE_TYPE)
elif DATABASE_TYPE == 'production':
    #Add mysql URI
    SQLALCHEMY_DATABASE_URI = 'mysql://user:password@server/db'
else:
    raise NameError("DATABASE_TYPE '%s' is not an accepted value." %
                    DATABASE_TYPE)
DATABASE_CONNECT_OPTIONS = {}

CSRF_ENABLED = True
CSRF_SESSION_KEY = "aser43wAG$#WAg43WAY$JH%j%$KJW%$uWA$5eYaEgsahsu"

SQLALCHEMY_MIGRATE_REPO = os.path.join(_basedir, 'migrations')

# Moodle course install web service definitions
INSTALL_COURSE_FILE_PATH = "/some/absolute/path/"  # must end with a /
INSTALL_COURSE_WS_TOKEN = ""
INSTALL_COURSE_WS_FUNCTION = "local_orvsd_installcourse_install_course"

# database info for data gathering

SITEINFO_DATABASE_HOST = "applegate.orvsd.org"
SITEINFO_DATABASE_USER = "siteinfo"
SITEINFO_DATABASE_PASS = ""

#google oauth required info
GOOGLE_CLIENT_ID = 'CLIENT ID HERE'
GOOGLE_CLIENT_SECRET = 'CLIENT SECRET HERE'
REDIRECT_URI = "/oauth2callback"

# Celery config info
CELERY_BROKER_URL = 'sqla+sqlite:///' + os.path.join(_basedir,
                                                      'db/orvsd_%s.db' %
                                                      DATABASE_TYPE)
CELERY_RESULT_BACKEND = 'database'
CELERY_RESULT_DBURI = 'sqlite:///' + os.path.join(_basedir,
                                                      'db/orvsd_%s.db' %
                                                      DATABASE_TYPE)
