<html>
    <head>
        {% block title %}
        <title>ORVSD Central</title>
        {% endblock %}

        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}" />
        <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class=container>
            <div id="content">
                {%block content%}
                {%endblock%}
            </div>

            <div id="footer">
                {%block footer%}
                {%endblock%}
            </div>
        </div>
    </body>
</html>
