<html>
    <head>
        {% block head %}
            <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}" />
            <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js') }}"></script>
        {% endblock %}
        {% block title %}
            <title>ORVSD Central</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {%block content%}
            {%endblock%}
        </div>

        <div id="footer">
            {%block footer%}
            {%endblock%}
        </div>
    </body>
</html>
