{% extends 'base.html' %}

{% block title %}
    <title>Install Courses</title>
{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/course_install.css') }}">
{% endblock %}

{% block content %}

<form name='install_course' method='POST' action="{{ url_for('install_course_output') }}">
    <fieldset>
        <legend>Add Course</legend>
        <label class="control-label" for="site">Site</label>
        {{form.site}}
        <label class="control-label" for="course">Course(s)</label>
        {{form.course}}
        <button class="btn" type='submit'>Install</button>
    </fieldset>
</form>


{% endblock %}
