{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
<form class="form-horizontal" method="POST">
    <legend>Login</legend>
    <div class="form-group">
        <label for='name' class="control-label col-xs-2">Username</label>
        <div class="col-xs-3">{{ form.name(class_='form-control') }}</div>
    </div>
    <div class="form-group">
        <label for='password' class="control-label col-xs-2">Password</label>
        <div class="col-xs-3">{{ form.password(class_='form-control') }}</div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2">
            <a class="btn btn-primary" href={{url_for('general.google_login')}}>Login with Google</a>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
{% endblock %}
