{% extends 'base.html' %}

{% block title %}
    <title>Migrate Schools</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{url_for('static', filename='js/migrate.js') }}"></script>
{% endblock %}

{% block content %}
<form class="form-vertical">
    <legend> Migrate Schools</legend>
    <div class="form-group">
        <label for="districts" class="control-label">District</label>
        <select id="districts" class="form-control">
            {% for district in districts %}
            <option value={{district.id}} class="object">{{district.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group" height="600px">
        <label for="schools" class="control-label">Schools</label>
        <select id="schools" class="form-control" multiple="multiple" height="600px">
            {% for school in schools %}
            <option value={{school.id}} class="object">{{school.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input id="update" type="submit" name="update" value="Migrate" class="btn btn-primary">
    </div>
</form>
{% endblock %}
