<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a class="brand" style="padding-left: 40px">ORVSD Central</a></li>
            {% if user %}
            <li>
                <a href="{{ url_for('report') }}">Report</a>
            </li>
            <li>
                <a href="{{ url_for('install_course') }}">Install Course</a>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Update
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class=""><a href="/districts/update">Districts</a></li>
                    <li class=""><a href="/schools/update">Schools</a></li>
                    <li class=""><a href="/sites/update">Sites</a></li>
                    <li class=""><a href="/sitedetails/update">Site Details</a></li>
                    <li class="dropdown-submenu"><a>Courses</a>
                        <ul class="dropdown-menu">
                            <li><a href="/courses/list/update">List</a></li>
                            <li><a href="/courses/update">Objects</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="/coursedetails/update">Course Details</a></li>
                </ul>
            </li>
            {% if admin %}
            <li class="dropdown">
                <a  class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Add
                    <b class="caret"></b>
                </a>
                <ul class="disabled dropdown-menu">
                    <li class="disabled"><a href="#">Districts</a></li>
                    <li class="disabled"><a href="#">Schools</a></li>
                    <li class="disabled"><a href="#">Sites</a></li>
                    <li class="disabled"><a href="#">Courses</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Modify/Remove
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="disabled"><a href="#">Districts</a></li>
                    <li class="disabled"><a href="#">Schools</a></li>
                    <li class="disabled"><a href="#">Sites</a></li>
                    <li class="disabled"><a href="#">Courses</a></li>
                </ul>
            </li>
            {% endif %}
            {% endif %}
        </ul>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes nav">
                {% for message in messages %}
                    <li>{{message}}</li>
                {%endfor%}
                </ul>
            {%endif%}
        {%endwith%}
        <ul class="nav pull-right">
        {% if user %}
            <li><a>Logged in as: {{user.name}}</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
        {% endif %}
        </ul>
    </div>
</div>
