<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a class="brand" style="padding-left: 40px">ORVSD Central</a></li>
            {% if user %}
            <li>
                <a href="{{ url_for('report.index') }}">Report</a>
            </li>
            <li>
                <a href="{{ url_for('install_course') }}">Install Course</a>
            </li>
            <li>
                <a href="{{ url_for('update_courselist') }}">Update Availble Courses</a>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Add/Modify/Delete
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/districts/update">Districts</a></li>
                    <li><a href="/schools/update">Schools</a></li>
                    <li><a href="/sites/update">Sites</a></li>
                    <li><a href="/sitedetails/update">Site Details</a></li>
                    <li><a href="/courses/update">Courses</a></li>
                    <li><a href="/coursedetails/update">Course Details</a></li>
                </ul>
            </li>
            {% if admin %}
            <li class="dropdown">
                <a  class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Add
                    <b class="caret"></b>
                </a>
                <ul class="disabled dropdown-menu">
                    <li class="disabled"><a href="#">Districts</a></li>
                    <li class="disabled"><a href="#">Schools</a></li>
                    <li class="disabled"><a href="#">Sites</a></li>
                    <li class="disabled"><a href="#">Courses</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Modify/Remove
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="disabled"><a href="#">Districts</a></li>
                    <li class="disabled"><a href="#">Schools</a></li>
                    <li class="disabled"><a href="#">Sites</a></li>
                    <li class="disabled"><a href="#">Courses</a></li>
                </ul>
            </li>
            {% endif %}
            {% endif %}
            <li>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes nav">
                    {% for message in messages %}
                        <li><a style="color:black">{{message}}</a></li>
                    {%endfor%}
                    </ul>
                {%endif%}
            {%endwith%}
            </li>
        </ul>
        <ul class="nav pull-right">
        {% if user %}
            <li><a>Logged in as: {{user.name}}</a></li>
            <li><a href="{{ url_for('general.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('general.login') }}">Log In</a></li>
        {% endif %}
        </ul>
    </div>
</div>
