{% extends 'base.html' %}

{% block head %}
        <script src="{{url_for('static',filename='js/report_overview.js') }}" ></script>
{% endblock %}

{% block title %}
        <title>Report Overview</title>
{% endblock %}

{% block content %}
    <div class="hero-unit">
    <form name="filter_options" action="/report" method="POST">
        <table>
            <tr>
                <th>Districts</th>
                <th>Schools</th>
                <th>Sites</th>
                <th>Courses</th>
            </tr>
            <tr>
                <td>
                    <select name="all_districts" class="filter" id="districts">
                        <option selected="True" value="All">All</option>
                        {% for district in all_districts %}
                            <option value="{{district.name}}">{{district.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="all_schools" class="filter" id="schools">
                        <option selected="True" value="All">All</option>
                        <option value="None">None</option>
                        {% for school in all_schools %}
                            <option value="{{school.name}}">{{school.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="all_sites" class="filter" id="sites">
                        <option selected="True" value="All">All</option>
                        <option value="None">None</option>
                        {% for site in all_sites %}
                            <option value="{{site.sitename}}">{{site.sitename}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="all_courses" class="filter" id="courses">
                        <option selected="True" value="All">All</option>
                        <option value="None">None</option>
                        {% for course in all_courses %}
                            <option value="{{course.name}}">{{course.name}}</option>
                        {% endfor %}
                    </select>
                </td>
        </table>
        <input type="submit" value="Submit"></input>
    </form>

    </br>

    Districts: {{ dist_count }} <br>
    Schools: {{ school_count }} <br>
    Sites: {{ site_count }} <br>
    Courses: {{ course_count }}


{% endblock %}

