{% extends 'base.html' %}

{% block title %}
    <title>Report</title>
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='span12'>&nbsp;</div>
    </div>
        <div class="row">
        <div class="span3"><h5>District</h5></div>
        <div class="span2"><h5>Admins</h5></div>
        <div class="span2"><h5>Teachers</h5></div>
        <div class="span2"><h5>Users</h5></div>
        <div class="span2"><h5>Schools</h5></div>
    </div>
    <div class="accordion" id="dist_accord">
        {% for district in all_districts %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle"
                   data-toggle="collapse"
                   data-parent="#accordion2"
                   href="#{{district.shortname}}">
                   <div class="row">
                       <div class="span3">{{district.name}}</div>
                       <div class="span2">#</div>
                       <div class="span2">#</div>
                       <div class="span2">#</div>
                       <div class="span2">#</div>
                   </div>
               </a>
            </div>
            <div id="{{district.shortname}}" class="accordion-body collapse">
                <div class="accordion-inner">
                    DATA
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
