{% extends 'base.html' %}

{% block title %}
    <title>Report</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{url_for('static', filename='js/report.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-xs-3">
                <strong>Districts:</strong> <span id="districts">Loading...</span>
            </div>
            <div class="col-xs-3">
                <strong>Schools:</strong> <span id="schools">Loading...</span>
            </div>
            <div class="col-xs-3">
                <strong>Sites:</strong> <span class="sites">Loading...</span>
            </div>
            <div class="col-xs-3">
                <strong>Courses:</strong> <span id="courses">Loading...</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <strong>Admins:</strong> <span id="admins">Loading...</span>
            </div>
            <div class="col-xs-3">
                <strong>Teachers:</strong> <span id="teachers">Loading...</span>
            </div>
            <div class="col-xs-3">
                <strong>Total Users:</strong> <span id="totalusers">Loading...</span>
            </div>
            <div class="col-xs-3">
                <strong>Active Users:</strong> <span id="activeusers">Loading...</span>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- Report Body -->
    <div class="row">
        <h4>
        <div class="col-xs-5">
            <strong>Active Sites (<span class="sites">Loading...</span>)</strong>
            <small><a>See Inactive</a></small>
        </div>
        <div class="cal-xs-offset-3 col-xs-5 pull-right">
            <label for="filter"><strong>Filter by District:</strong></label><input type="text" id="filter"></input>
        </div>
        </h4>
    </div>
    <div class="container-fluid" id="report_tables">
        <div class="row">Loading...</div>
    </div>

</div>
{% endblock %}
