{% extends 'base.html' %}

{% block title %}
    <title>Update {{category|capitalize}}</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{url_for('static', filename='js/update_models.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/update_models.css')}}"</link>
{% endblock %}

{% block content %}
    <div class='row'>
        <h1 align="center"> Edit Your Model </h2>
        <div class='span12'>&nbsp;</div>
    </div>
    <div class="row pagination-centered">
        <select id="object_list" class="span6">
            {% for obj in objects %}
            <option value={{obj['id']}} class="object">{{obj[identifier]}}</option>
            {% endfor %}
        </select>
    </div>
     <div class='row'>
        </br>
        <div id="form" class='span12'>&nbsp;</div>
    </div>
{% endblock %}
