{% extends 'base.html' %}

{% block title %}
    <title>Update {{category|capitalize}}</title>
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{url_for('static', filename='js/update_models.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/update_models.css')}}"</link>
{% endblock %}

{% block content %}
    <div class='row pagination-centered'>
        <h1> Edit Your Model </h1>
        <div class='span12'>&nbsp;</div>
    </div>
    <div class="row pagination-centered">
        <select id="object_list" class="span6">
            {% for obj in objects %}
            <option value={{obj['id']}} class="object">{{obj[identifier]}}</option>
            {% endfor %}
        </select>
    </div>
     <div class='row'>
        </br>
        <div class='span12'>
            <div class="form-horizontal">
                <div id="form" class="row-fluid">

                <!-- Embed things here -->

                </div>
            </div>
            <p id="message" align="center"> </p> 
            <div class="row pagination-centered">
                <div class="span6">
                    <input id="update" type="submit" name="update" value="Update" class="btn btn-primary btn-large span2">
                </div>
                <div class="span6">
                    <input id="delete" type="submit" name="delete" value="Delete" class="btn btn-danger btn-large span2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
