<div class="row">
    <div class="span6 offset3" style="text-align: center;"><h3>{{ name }}</h3></div>
</div>
<div class="row">
    <div class="span3 offset2">Administrators: {{ admins }}</div>
    <div class="span3">Teachers: {{ teachers }}</div>
    <div class="span3">Total Users: {{ users }}</div>

    <br />

    <hr />

    {% if course_list|length %}
        <div class="span5 offset1">Course Name</div>
        <div class="span1">Celery state</div>
        <div class="span2">Course state</div>
        <div class="span2">Date completed</div>
        <br />
        <br />
        {% for course in course_list %}
            <div class="span5 offset1">{{course.course_name}}</div>
            <div class="span1">{{course.task_state}}</div>
            <div class="span2">{{course.course_state}}</div>
            <div class="span2">{{course.time_completed}}</div>
            <br />
        {% endfor %}
    {% else %}
        <p>No courses installed!</p>
    {% endif %}
</div>
