<div class="row">
    <div class="span5 offset3"><h3>{{ name }}</h3></div>
</div>
<div class="row">
    <div class="span3 offset1">Administrators: {{ admins }}</div>
    <div class="span3">Teachers: {{ teachers }}</div>
    <div class="span3">Total Users: {{ users }}</div>

    <br />

    <hr />

    {% if course_list|length %}
        <div class="span4">Task ID</div>
        <div class="span1">Celery state</div>
        <div class="span1">Course state</div>
        <div class="span4">Date completed</div>
        <br />
        <br />
        {% for course in course_list %}
            <div class="span4">{{course.uuid}}</div>

            {% if course.task_state == "SUCCESS" %}
                <div class="span1 celery-success">{{course.task_state}}</div>
            {% elif course.task_state == "FAILURE" %}
                <div class="span1 celery-important">{{course.task_state}}</div>
            {% else %}
                <div class="span1 celery-default">{{course.task_state}}</div>
            {% endif %}

            <div class="span1">{{course.course_state}}</div>
            <div class="span4">{{course.time_completed}}</div>
            <br />
        {% endfor %}
    {% else %}
        <p>No courses installed!</p>
    {% endif %}
</div>
